<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>jquery-ui-timepicker-af.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-bg.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-ca.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-cs.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-de.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-el.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-es.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-et.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-eu.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-fi.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-fr.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-gl.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-he.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-hu.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-id.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-it.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-ja.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-ko.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-lt.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-nl.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-no.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-pl.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-pt-BR.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-pt.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-ro.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-ru.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-sk.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-sv.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-th.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-tr.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-uk.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-vi.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-zh-CN.js</string>
		</array>
		<array>
			<string>jquery-ui-timepicker-zh-TW.js</string>
		</array>
	</array>
</dict>
</plist>
