<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>dark_rounded</string>
		<string>dark_square</string>
		<string>default</string>
		<string>facebook</string>
		<string>light_rounded</string>
		<string>light_square</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
