<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>jqueryui</string>
		<string>select2</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>autosave.js</string>
		</array>
		<array>
			<string>clone.js</string>
		</array>
		<array>
			<string>color.js</string>
		</array>
		<array>
			<string>date.js</string>
		</array>
		<array>
			<string>datetime.js</string>
		</array>
		<array>
			<string>file-advanced.js</string>
		</array>
		<array>
			<string>file.js</string>
		</array>
		<array>
			<string>image-advanced.js</string>
		</array>
		<array>
			<string>image.js</string>
		</array>
		<array>
			<string>jquery.validate.min.js</string>
		</array>
		<array>
			<string>map.js</string>
		</array>
		<array>
			<string>oembed.js</string>
		</array>
		<array>
			<string>plupload-image.js</string>
		</array>
		<array>
			<string>select-advanced.js</string>
		</array>
		<array>
			<string>slider.js</string>
		</array>
		<array>
			<string>taxonomy.js</string>
		</array>
		<array>
			<string>thickbox-image.js</string>
		</array>
		<array>
			<string>time.js</string>
		</array>
		<array>
			<string>validate.js</string>
		</array>
	</array>
</dict>
</plist>
