<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>button.php</string>
		</array>
		<array>
			<string>checkbox-list.php</string>
		</array>
		<array>
			<string>checkbox.php</string>
		</array>
		<array>
			<string>color.php</string>
		</array>
		<array>
			<string>date.php</string>
		</array>
		<array>
			<string>datetime.php</string>
		</array>
		<array>
			<string>divider.php</string>
		</array>
		<array>
			<string>email.php</string>
		</array>
		<array>
			<string>fieldset-text.php</string>
		</array>
		<array>
			<string>file-advanced.php</string>
		</array>
		<array>
			<string>file.php</string>
		</array>
		<array>
			<string>heading.php</string>
		</array>
		<array>
			<string>hidden.php</string>
		</array>
		<array>
			<string>image-advanced.php</string>
		</array>
		<array>
			<string>image.php</string>
		</array>
		<array>
			<string>map.php</string>
		</array>
		<array>
			<string>number.php</string>
		</array>
		<array>
			<string>oembed.php</string>
		</array>
		<array>
			<string>password.php</string>
		</array>
		<array>
			<string>plupload-image.php</string>
		</array>
		<array>
			<string>post.php</string>
		</array>
		<array>
			<string>radio.php</string>
		</array>
		<array>
			<string>range.php</string>
		</array>
		<array>
			<string>select-advanced.php</string>
		</array>
		<array>
			<string>select.php</string>
		</array>
		<array>
			<string>slider.php</string>
		</array>
		<array>
			<string>taxonomy-advanced.php</string>
		</array>
		<array>
			<string>taxonomy.php</string>
		</array>
		<array>
			<string>text-list.php</string>
		</array>
		<array>
			<string>text.php</string>
		</array>
		<array>
			<string>textarea.php</string>
		</array>
		<array>
			<string>thickbox-image.php</string>
		</array>
		<array>
			<string>time.php</string>
		</array>
		<array>
			<string>url.php</string>
		</array>
		<array>
			<string>wysiwyg.php</string>
		</array>
	</array>
</dict>
</plist>
