<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>jquery.ui.datepicker-af.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-ar-DZ.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-ar.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-az.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-be.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-bg.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-bs.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-ca.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-cs.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-cy-GB.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-da.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-de.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-el.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-en-AU.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-en-GB.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-en-NZ.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-eo.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-es.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-et.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-eu.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-fa.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-fi.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-fo.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-fr-CA.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-fr-CH.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-fr.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-gl.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-he.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-hi.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-hr.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-hu.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-hy.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-id.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-is.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-it.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-ja.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-ka.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-kk.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-km.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-ko.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-ky.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-lb.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-lt.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-lv.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-mk.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-ml.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-ms.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-nb.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-nl-BE.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-nl.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-nn.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-no.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-pl.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-pt-BR.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-pt.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-rm.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-ro.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-ru.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-sk.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-sl.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-sq.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-sr-SR.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-sr.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-sv.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-ta.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-th.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-tj.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-tr.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-uk.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-vi.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-zh-CN.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-zh-HK.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker-zh-TW.js</string>
		</array>
	</array>
</dict>
</plist>
