<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>bin</string>
		<string>ReduxCore</string>
		<string>tests</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>bootstrap_tests.php</string>
		</array>
		<array>
			<string>class.redux-plugin.php</string>
		</array>
		<array>
			<string>Gruntfile.js</string>
		</array>
		<array>
			<string>index.php</string>
		</array>
		<array>
			<string>kill-travis.php</string>
		</array>
		<array>
			<string>license.txt</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>README.txt</string>
		</array>
		<array>
			<string>redux-framework.php</string>
		</array>
		<array>
			<string>uninstall.php</string>
		</array>
	</array>
</dict>
</plist>
