<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>css</string>
		<string>img</string>
		<string>inc</string>
		<string>js</string>
		<string>languages</string>
		<string>plugins</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>archive.php</string>
		</array>
		<array>
			<string>blog.php</string>
		</array>
		<array>
			<string>comments.php</string>
		</array>
		<array>
			<string>footer.php</string>
		</array>
		<array>
			<string>functions.php</string>
		</array>
		<array>
			<string>header.php</string>
		</array>
		<array>
			<string>homepage.php</string>
		</array>
		<array>
			<string>homepage2.php</string>
		</array>
		<array>
			<string>homepage3.php</string>
		</array>
		<array>
			<string>homepage4.php</string>
		</array>
		<array>
			<string>index.php</string>
		</array>
		<array>
			<string>page.php</string>
		</array>
		<array>
			<string>search.php</string>
		</array>
		<array>
			<string>searchform.php</string>
		</array>
		<array>
			<string>sidebar.php</string>
		</array>
		<array>
			<string>single-works.php</string>
		</array>
		<array>
			<string>single.php</string>
		</array>
	</array>
</dict>
</plist>
